body
{
    font-family: $font-Questrial;
    background-color: $white;
    height: 98vh;
    align-self: flex-end;
}

.header
{
    background-color: $primary-color;

    ul li:hover
    {
      background-color: $primary-light;
    }

    ul li a
    {
      color: $white;
    };
}

.transparent
{
  background-color: transparent;
}

.KJ-jumbotron
{
  background-image: url("/assets/img/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}

.KJ-header-text
{
  text-transform: uppercase;
}

.KJ-card
{
  border:none;
}

.KJ-card-section
{
  background: $primary-color;
  color: $white;
}

.horizontal
{
  img
  {
      size: cover;
  }
}
